.tab{
    float: left;
    background-color: darkblue;
    width:17%;
    height: 600px;
    border-color: gray;
    border-width: 10px;
}
.SideTabBtn{
    width: 189px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
}
.adminImg{
    margin-top: 60px;
    margin-left: 120px;
}
.LoginTbl{
    margin-top: 60px;
    margin-right: 150px;
    background-color: darkblue;
}
.loginBtn{
    margin: 30px;
    margin-left: 580px;
    width: 189px;
    height: 50px;
    border-radius: 10px;
}

.loginBtn:hover{
    background-color: lavender;
}
footer{
    width: 100%;
    background-color: steelblue;
}
